<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/teacher_side.png') }}">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-box">
            <h1>Reset Password</h1>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            <form method="POST" data-email-action="send">
                <input type="email" name="email" class="icon-email" placeholder="Email ID" required>

<button type="submit" class="login-btn">Go To Email Verification</button>
            </form>
            <div class="register-line"><br>
                <a href="{{ url_for('auth.login_page') }}">Back to Login</a>
            </div>
        </div>
    </div>
    <!-- Email Sending Loading Overlay -->
<div id="emailLoadingOverlay" class="email-loading-overlay">
    <div class="email-loading-box">

        <div class="email-animation">
            <div class="email-icon">
                <span>✉</span>
            </div>

            <div class="email-ring"></div>
        </div>

        <h2>Sending verification code</h2>

        <p id="emailLoadingText">
            Please wait while we send the OTP to your email...
        </p>

        <div class="loading-dots">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <small>Please don't close this page.</small>

    </div>
</div>
    <script src="{{ url_for('static', filename='js/password-toggle.js') }}"></script>
    <script
    src="{{ url_for('static', filename='js/email-loading.js') }}"
></script>
</body>
</html>
